* {
	padding: 0;
	margin: 0;
}

h1 {
	text-align: center;
	font-size: 45px;
	font-family: Arial, Helvetica, sans-serif;
	color: rgb(6, 0, 32);
	padding: 14px;
}

h2 {
	text-align: center;
	font-size: 32px;
	font-family: Arial, Helvetica, sans-serif;
	color: rgb(6, 0, 32);
	padding: 14px;
}

.list {
	display: flex;
	justify-content: center;
	width: 100%;
}

.list ul li {
	list-style: none;
	margin: 42px;
	text-align: center;
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.a {
	text-decoration: none;
	color: rgb(0, 0, 0);
	font-size: 18px;
	font-family: Arial, Helvetica, sans-serif;
	padding: 14px 25px;
	background-color: transparent;
	border: 2px solid rgb(12, 0, 66);
}

.a:hover {
	background-color: rgb(12, 0, 66);
	color: rgb(255, 255, 255);
}

.typical {
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
	background-color: transparent;
}
